html,
body {
	margin: 0;
	padding: 0;
	min-width: 800px;
	font-family: Arial;
	font-size: 15px;
	height: 100%;
}

/* CSS for background images - to make parallax scrolling work */

.backgroundscroll {
	color: #FFFFFF;
	height: 700px;
	overflow: hidden;
	font-size: 12px;
}

#back1 {
	background: url(../images/skt_win.jpg) no-repeat fixed;
	background-size: cover;
}

#back2 {
	background: url(../images/korea_allstars.jpg) no-repeat fixed;
	background-size: cover;
}

#back3 {
	background: url(../images/alliance_trophy.jpg) no-repeat fixed;
	background-size: cover;
}

#back4 {
	background: url(../images/oot_wr.jpg) no-repeat fixed;
	background-size: cover;
}

#back5 {
	background: url(../images/osuwcfinal.jpg) no-repeat fixed;
	background-size: cover;
}

#back6 {
	background: url(../images/whatsnext.jpg) no-repeat fixed;
	background-size: cover;
}

.caption {
	margin-top: 650px;
	text-align: center;
}

.caption a:link, .caption  a:visited {
	color: #66FF66;
	text-decoration: none;
}

.caption  a:hover {
	color: #FFFFFF;
	text-decoration: none;
}

/* CSS for content slides */

.slide {
	min-height: 600px;
	background: url(../images/scroll_middle.jpg) 50% 0 no-repeat;
	position: relative;
	color: #FFFFFF;
}

.info {
	margin: 0 auto;
	min-width: 800px;
	width: 800px;
}

h1 {
	margin: 0;
	padding-top: 10px;
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 42px;
	text-align: right;
}

.redletter {
	color: #FF3366;
}

.nextdiv {
	position: absolute;
	left: 48%;
	bottom: 10px;
}

.downimg {
	display: block;
	width: 50px;
	height: 50px;
	background: url(../images/down.png) bottom;
	margin-left: auto;
	margin-right: auto;
}

.downimg:hover {
	background-position: 0 0;
}

.anchor {
	margin-top: -150px;
	height: 150px;
	background: none;
}

.leaguepics {
	height: 108px;
	border: 1px solid;
	border-color: transparent;
	margin-top: 10px;
}

.leaguepics:hover {
	border: 1px solid;
	border-color: #FF0033;
}

/* Image overlay almost-pure CSS pop-up */

#fade {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 0; /* Height will be set to 100% by jQuery */
	background-color: #000000;
	z-index: 9000;
	opacity: 0; /* Opacity will be set to 100% by jQuery */
	
	-webkit-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
	   -moz-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
	     -o-transition: visibility 0s linear 0.5s,opacity 0.5s linear;
	        transition: visibility 0s linear 0.5s,opacity 0.5s linear;
}

.content {
	display: none;
	position: fixed;
	width: auto;
	max-width: 80%;
	height: auto;
	max-height: 80%;
	top: 50%; /* Negative margins top and left will be set by jQuery */
	left: 50%; /* Negative margins top and left will be set by jQuery */
	border: 10px solid orange;
	background: #FFFFFF;
	z-index: 9001;
	overflow: visible;
}

.bigimagediv {
	overflow: auto;
}

.bigimage {
	margin: 0;
	padding: 0;
}

.imagecaption {
	margin: 0;
	text-align: center;
}

.stop-scrolling {
	position: fixed;
	overflow-y: scroll;
	width: 100%;
}

.closeimg {
	display: block;
	width: 30px;
	height: 30px;
	margin-top: -30px;
	margin-left: -30px;
	background: url(../images/close.png) bottom;
	float: right;
	z-index: 9002;
}

.closeimg:hover {
	background-position: 0 0;
}

/* CSS for the initial slide */

#firstslide {
	background: url(../images/scroll_top.jpg) 50% 0 no-repeat;
	color: #FFFFFF;
	height: 100%;
	min-height: 700px;
	position: relative;
}

#dearriot {
	padding-top: 250px;
	text-align: left;
}

#speciald {
	font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 90px;
}

#subtext {
	position: absolute;
	bottom: 40%;
}

#firstnextdiv {
	bottom: 20%;
}

/* CSS for the final slide(s) */

#finalslide {
	background: url(../images/scroll_bottom.jpg) 50% 0 no-repeat;
	color: #FFFFFF;
	height: 500px;
	position: relative;
}

#finalnextdiv {
	bottom: 250px;
}

#footer {
	margin-top: -55px;
	height: 35px;
	color: #999999;
	text-align: center;
	font-size: 11px;
	position: relative;
}

#thankyou {
	background: url(../images/finalscroll.jpg) 50% 0 no-repeat;
	background-size: auto 100%;
	height: 100%;
	min-height: 300px;
	position: relative;
}

#thankyoutext {
	position: absolute;
	bottom: 50px;
	left: 60%;
}

/* CSS for resize tabs */

#resizetab {
	position: fixed;
	width: 650px;
	height: 0; /* Height will be set to 30px by jQuery */
	opacity: 0; /* Opacity will be set to 1 by jQuery */
	bottom: 0;
	left: 50%;
	margin-left: -250px;
	background: url(../images/resizebg.png);
	padding: 0;
	
	-webkit-transition: visibility 0s linear 0.5s,opacity 2s linear;
	   -moz-transition: visibility 0s linear 0.5s,opacity 2s linear;
	     -o-transition: visibility 0s linear 0.5s,opacity 2s linear;
	        transition: visibility 0s linear 0.5s,opacity 2s linear;
}

#resizepara {
	margin-top: 8px;
	padding: 0;
	font-size: 12px;
	text-align: center;
	color: #9933CC;
}

/* formating link hover colours */

a:link, a:visited {
	color: #0066FF;
	text-decoration: none;
}

a:hover {
	color: #0099CC;
	text-decoration: none;
}
